* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*HEADER*/

div.background {
    background-image: url("img/background.png");
    background-attachment: fixed;
    background-size: cover;
    padding-top: 60px;
}

header {
    width: 1200px;
    margin: 0 auto 60px auto;
    display: flex;
    justify-content: space-between;
}

header > div > h3 {
    color: #F1CDB3;
    font-family: Georgia, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 1.92px;
    margin-bottom: 10px;
}

header > div > p {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.3px;
}

header > ol {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 35px;
}

header > ol > li > a {
    color: #CDCDCD;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
}

header > ol > li > a.underline {
    text-decoration: underline;
    color: #FAFAFA;
}

/*MAIN*/

main {
    width: 1200px;
    height: 728px;
    margin: 0 auto 80px auto;
    display: flex;
    gap: 42px;
    align-items: center;
}

main > div {
    display: flex;
    flex-direction: column;
    gap: 43px;
}

main > div > h2 {
    color: #FFF;
    font-family: Georgia, sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 130%;
    width: 310px;
}

main > div > p {
    color: #CDCDCD;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    width: 460px;
}

main > div > button {
    width: 207px;
    height: 52px;
    border-radius: 100px;
    border: none;
    background: #F1CDB3;
    color: #292929;
    font-family: Georgia, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.02px;
}

/*ARTICLE*/

article {
    width: 1200px;
    height: 408px;
    padding: 0 175px;
    margin: 0 auto 100px auto;
    display: flex;
    gap: 120px;
    align-items: center;
}

article > div > h2 {
    color: #545454;
    font-family: Georgia, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
    width: 370px;
}

article > div > p {
    color: #4C4C4C;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    width: 430px;
}

article > div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*SECTION PETS*/

section.pets {
    width: 1280px;
    padding: 80px 40px 100px 40px;
    margin: 0 auto 53px auto;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.pets > h2 {
    color: #545454;
    text-align: center;
    font-family: Georgia, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2.1px;
    width: 400px;
}

section.pets > div.flex > div {
    width: 270px;
    height: 435px;
    border-radius: 9px;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}

section.pets > div.flex > div > span {
    color: #545454;
    font-family: Georgia, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.2px;
}

section.pets > div.flex > div > button {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background: none;
    color: #292929;
    font-family: Georgia, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.02px;
}

section.pets > button {
    width: 261px;
    height: 52px;
    border-radius: 100px;
    border: none;
    background: #F1CDB3;
    color: #292929;
    font-family: Georgia, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.02px;
}

div.flex {
    margin: 60px 0;
    display: flex;
    gap: 90px;
}







